<div class="main-buttons">
  <button type="button" class="btn btn-outline-primary" (click)="goToPancakesAdd()">+ Add Pancake</button>
  <button type="button" class="btn btn-outline-secondary" (click)="hidePancakes()">Hide</button>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Price</th>
    <th scope="col">Ingredients</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pancake of pancakes">
    <th scope="row">{{ pancake.id }}</th>
    <td>{{ pancake.price |  number }}</td>
    <td>
      <span *ngFor="let ingredient of pancake.ingredients"> {{ ingredient.name }}
        - {{ getIngredientType(ingredient.ingredientType) }};</span>
    </td>
    <td>
      <div class="table-buttons">
        <button type="button" class="btn btn-outline-primary">Edit</button>
        <button type="button" class="btn btn-outline-danger" (click)="deletePancake(pancake.id)">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>



