$order-background: #F6E8EA; // light pink
$text-color: #4A4238; // dark grey
$button-color: #EC7357; // coral
$button-hover-color: #C7CCDB; // light blue

.order-container {
  background-color: $order-background;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.order-header {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.order-table {
  padding: 10px;

  th {
    color: $text-color;
    text-transform: uppercase;
    padding: 10px;
    background-color: white;
  }

  .pancake-row {
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: white;
  }

  .ingredient {
    margin-bottom: 5px;
    padding: 10px;
  }

  .price, .id {
    text-align: right;
    padding: 10px;
  }
}

.button-container {
  margin-top: 20px;
  text-align: left;

  .hide-button {
    background-color: $button-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $button-hover-color;
    }
  }
}
