<div class="order-container">
  <div class="order-header">
    <h2>Order:</h2>
    <div class="order-table">
      <table>
        <tr>
          <th>Ingredients</th>
          <th>Price</th>
          <th>ID</th>
        </tr>
        <tr *ngFor="let pancake of pancakes" class="pancake-row">
          <td>
            <p *ngFor="let ingredient of pancake.ingredients" class="ingredient">{{pancake.ingredients.indexOf(ingredient) + 1}}. {{ ingredient.name }}
              - {{ getIngredientType(ingredient.ingredientType) }}</p>
          </td>
          <td class="price">{{ pancake.price | number }}</td>
          <td class="id">{{ pancake.id }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="button-container">
    <button (click)="hidePancakes()" class="hide-button">Hide</button>
  </div>
</div>


