<div class="order-container">
  <div class="order-header">
    <h2>Order:</h2>
    <div class="order-table">
      <table>
        <tr>
          <th>Ingredients</th>
          <th>Price</th>
          <th>ID</th>
        </tr>
        <tr class="pancake-row">
          <td>
            <p class="ingredient"></p>
          </td>
          <td class="price"></td>
          <td class="id"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="button-container">
    <button class="hide-button">Hide</button>
  </div>
</div>


